   :root{
    --primary-color:#505033;
    --secundary-color:#264969;
    --accent01-color:#cfcfb4;
    --accent02-color:#b4cde4;
   }
   body{
     
      background-color: var(--accent01-color);
      
   }
   
   header nav{
      text-align: left;
   }
   h1,h2{
      font-family: georgia, sans-serif;
      color: var(--primary-color);
   }

    div h1 {
      font-family: georgia, sans-serif;
      color: var(--primary-color);
      position: absolute;
      text-align: center;
   }
  p{
   font-family: roboto, sans-serif;
   color: var(--secundary-color);
   
  }
   a{
      text-decoration: none;
   }
   .hero{
      position: relative;
      width: 100%;
      height: auto;
   }
   .hero img{
      display: block;
      height: auto;
      
   }
   .hero h1{
      position: absolute;
      top: 10%;
      left: 20%;
      background-color: var(--accent02-color);
      padding: 15px;
      border-radius: 5px;
   }
   article {
      position: absolute;
      bottom: 10px;
      left: 35%;
      transform: translateX(-50%);
      background-color: var(--accent01-color);
      padding: 20px;
      width: 60%;  
      max-width: 600px; 
      text-align: left;
      
  }

  article img {
   
    float: right;
    width: 120px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 30px

    
}
   
   
   
