   :root{
    --primary-color:#505033;
    --secundary-color:#264969;
    --accent01-color:#cfcfb4;
    --accent02-color:#b4cde4;
   }
   body{
     
      background-color: var(--accent01-color);
      align-content:space-between;
      justify-content: center;
      margin: 30px;
            
   }
   
   header nav{
      text-align: left;
   }
   h1,h2{
      font-family: georgia, sans-serif;
      color: var(--primary-color);
   }

    div h1 {
      font-family: georgia, sans-serif;
      color: var(--primary-color);
      position: absolute;
      text-align: center;
   }
  p{
   font-family: roboto, sans-serif;
   color: var(--secundary-color);
   
  }
   a{
      text-decoration: none;
   }
   .hero{
      position: relative;
      width: 100%;
      height: auto;
   }
   .hero img{
      display: block;
      height: auto;
      
   }
   .hero h1{
      position: absolute;
      top: 2%;
      left: 20%;
      background-color:  var(--accent02-color);
      filter: opacity(0.8);
      padding: 15px;
      border-radius: 5px;
      width: auto;
   }
   article {
      position: absolute;
      bottom: 10px;
      left: 34%;
      transform: translateX(-50%);
      background-color:var(--accent01-color);
      filter: opacity(0.8);
      width: auto;
      padding: 10px;
      align-items: center;
        
      
  }

  article img {
   
    float: right;
    width: 210px;
    margin: 10px;
    border-radius: 10px;

    
}
   
   
   
